name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install packages
        run: make install
      - name: format
        run: make format
      - name: lint
        run: make lint
      - name: test
        run: make test

  deploy_github:
    name: Deploy API to Docker Hub & Render
    runs-on: ubuntu-latest
    needs: build   # it is not executed if build fails
    env:
      DOCKER_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/mlops-lab2:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ env.DOCKER_IMAGE }}
          file: ./Dockerfile

      - name: Trigger Render deploy
        run: |
          curl -X POST \
            "https://api.render.com/deploy/${{ secrets.RENDER_SERVICE_ID }}?key=${{ secrets.RENDER_DEPLOY_HOOK_KEY }}"

  deploy_hf_app:
    name: Deploy HuggingFace Space
    runs-on: ubuntu-latest
    needs: deploy_github
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Switch to hf-space branch
        run: |
          git fetch origin hf-space
          git checkout hf-space

      - name: Add HuggingFace remote
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USERNAME: ${{ secrets.HF_USERNAME }}
          HF_GIT_NAME: ${{ secrets.HF_GIT_REPO_NAME }}
        run: git remote add huggingface https://${HF_USERNAME}:${HF_TOKEN}@huggingface.co/spaces/${HF_USERNAME}/${HF_GIT_NAME}.git

      - name: Push hf-space branch to Hugging Face
        run: git push huggingface hf-space:main --force